trigger:
  branches:
    include:
      - master   # oder main

pool:
  name: SelfHostedPool

steps:
- script: echo "Deploying commit $(Build.SourceVersion) to Function App"
  displayName: 'Agent-Check'

# Paket erstellen: Inhalte des Repo-Roots zippen
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'   # hier liegt host.json direkt
    includeRootFolder: false                        # verhindert zusätzlichen Ordner im ZIP
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/functions.zip'
    replaceExistingArchive: true

# Debug: ZIP-Inhalt prüfen
- script: powershell -Command "Expand-Archive -Path $(Build.ArtifactStagingDirectory)/functions.zip -DestinationPath $(Build.ArtifactStagingDirectory)/unzipped; Get-ChildItem -Recurse $(Build.ArtifactStagingDirectory)/unzipped"
  displayName: 'Check ZIP contents'

# Deploy ins Azure Function App
- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'AzureConnection'   # Name deiner Service Connection
    appType: 'functionApp'
    appName: 'az400-123456789-func1'
    package: '$(Build.ArtifactStagingDirectory)/functions.zip'




