trigger:
  branches:
    include:
      - master

pool:
  name: 'SelfHostedPool'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '6.0.x'

- script: dotnet restore
  displayName: 'Restore packages'

- script: dotnet build --configuration Release
  displayName: 'Build project'

- script: dotnet publish --configuration Release --output $(Build.ArtifactStagingDirectory)/publish
  displayName: 'Publish project'

- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'az400-connection'   # exakter Name aus DevOps
    appType: 'functionApp'
    appName: 'az400-123456789-func1'
    package: '$(Build.ArtifactStagingDirectory)/publish'







