trigger:
- master

pool:
  name: 'SelfHostedPool'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'

# Packe die Function-Dateien ins ZIP
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/functions.zip'
    replaceExistingArchive: true

# Deploy zur Function App
- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'az400-functions-sp-connection'
    appType: 'functionApp'
    appName: 'az400-123456789-func1-win'
    package: '$(Build.ArtifactStagingDirectory)/functions.zip'
