trigger:
- master

pool:
  name: Default

steps:
- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'az400-connection'
    appType: 'functionApp'
    appName: 'az400-123456789-web1'
    package: '$(System.DefaultWorkingDirectory)/HttpTriggerCSharp1'




