trigger:
- master

pool:
  name: Default   # dein Self-Hosted Agent

steps:
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/HttpTriggerCSharp1'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/function.zip'
    replaceExistingArchive: true

- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'az400-connection'
    appType: 'functionApp'
    appName: 'az400-1-func1'
    package: '$(Build.ArtifactStagingDirectory)/function.zip'






