trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'
    installationPath: $(Agent.ToolsDirectory)/dotnet

- script: dotnet build --configuration Release
  displayName: 'Build project'

- task: AzureWebApp@1
  inputs:
    azureSubscription: '<Service Connection Name>'
    appName: 'az400-123456789-func1'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'

