trigger:
- master

pool:
  name: Default   # dein Self-Hosted Agent

steps:
- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'az400-connection'
    appType: 'functionApp'
    appName: 'az400-1-func1'
    package: '$(System.DefaultWorkingDirectory)/HttpTriggerCSharp1'





