trigger:
- master

pool:
  name: 'SelfHostedPool'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '**/*.csproj'

- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'AzureConnection'
    appType: 'functionApp'
    appName: 'az400-123456789-func1-win'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'
