trigger:
  branches:
    include:
      - master   # oder main

pool:
  name: SelfHostedPool

steps:
- script: echo "Deploying commit $(Build.SourceVersion) to Function App"
  displayName: 'Agent-Check'

# Paket erstellen: gesamten Repo-Inhalt zippen
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/functions.zip'
    replaceExistingArchive: true

# Deploy ins Function App
- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'AzureConnection'
    appType: 'functionApp'
    appName: 'az400-123456789-func1'
    package: '$(Build.ArtifactStagingDirectory)/functions.zip'



